main {
  .container {
    .mcont {
      height: 400px;
      .mpic {
        float: left;
      }
      .mtable {
        float: right;
        margin-right: 100px;
        form {
          .denglu {
            width: 200px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            margin: 10px 40px;
            border: 0 none;
            background-color: orange;
            color: #fff;
          }
        }
      }
    }
    .mtop {
      ul {
        .login {
          border-top: 2px solid orange;
          a {
            color: orange;
          }
        }
      }
    }
  }
}
main {
  .container {
    .mcont {
      height: 400px;
      .mpic {
        float: left;
      }
      .mtable {
        float: right;
        margin-right: 100px;
        form {
          .denglu {
            width: 200px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            margin: 10px 40px;
            border: 0 none;
            background-color: orange;
            color: #fff;
          }
        }
      }
    }
    .mtop {
      ul {
        .login {
          border-top: 2px solid orange;
          a {
            color: orange;
          }
        }
      }
    }
  }
}
