.container{
	width: 75%;
	margin:0 auto;
}
header{
	width: 100%;
	border-bottom: 1px solid #ccc;
	position:relative;
}
header .container{
	height: 40px;
}
header .container .tleft{
	float: left;
}
header .container .tleft ul{
	padding-top: 5px;
}
header .container .tleft>ul>li{
	float: left;
	padding: 10px 20px 5px 20px;
	font-size: 14px;
}
header .container .tleft ul .ta{
	background-color: #fff;
	border:1px solid #666;
	border-bottom:1px solid #fff;
	
}
header .container .tleft ul .ta a{
	color:orange;
}
header .container .tleft ul li a{
	font-weight: bold;
}
header .container .tleft ul li a:hover{
	color: orange;
}
header .container .tleft ul .shouji{
	position: relative;
}
header .container .tleft ul .shouji:hover{
	border:1px solid orange;
	background-color: #fff;
	border-bottom: 2px solid #fff;
}
header .container .tleft ul .shouji:hover img{
	display: block;
	
}
header .container .tleft ul .shouji img{
	display: none;
}
header .container .tleft ul .shouji img{
	position: absolute;
	top:35px;
	left:-1px;
	border:1px solid orange;
}
header .container .tright{
	float: right;
}
header .container .tright>ul{
		padding-top:10px;
}
header .container .tright ul li{
	float: left;
	font-size: 14px;
	color: #666;
	padding: 0 2px;
}

header .container .tright>ul>li>a{
	display:block;
	padding:0 8px;
	border-left: 1px solid #666;
	color: #666;
}
header .container .tright ul li .jh{
	border: 0;
	color:orange;
}
header .container .tright ul .dingdan{
	position: relative;
}

header .container .tright ul .dingdan ul{
	display: none;
	border:1px solid orange;
	position: absolute;
	top: 0;
	left:5px;
	background-color: #fff;

}
header .container .tright>ul>.dingdan>ul>.wddd{
	margin-bottom: 8px;
}
header .container .tright ul .dingdan ul li{
	font-size: 12px;
	margin-top: 5px;
}
header .container .tright ul .dingdan:hover ul{
display: block;
}

header .container .tright ul .kefu{
	position: relative;
}

header .container .tright ul .kefu ul{
	display: none;
	border:1px solid orange;
	position: absolute;
	top: 0;
	left:5px;
	background-color: #fff;

}
header .container .tright>ul>.kefu>ul>.wdkf{
	margin-bottom: 8px;
}
header .container .tright ul .kefu ul li{
	font-size: 12px;
	margin-top: 5px;
}
header .container .tright ul .kefu:hover ul{
display: block;
}


main{
	width: 100%;
	background-color: #ececec;
}
main .container{
	padding-top: 20px;
}
main .container .mtop{
	width: 500px;
	margin: 0 auto;
	height: 30px;
}

main .container .mtop ul li{
	float: left;
	margin-right: 20px;
	width: 220px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #fff;
	font-weight: bold;
}

main .container .mcont{
	background-color: #fff;
	padding-top: 50px;
}
main .container .mcont .mpic{
	padding-left: 100px;

}

main .container .mcont .mtable form label{
	
	display: block;
	margin:10px;
	font-size: 14px;
}
main .container .mcont .mtable form label input{
	height: 32px;
}
main .container .mcont .mtable form .yhm{
	width: 250px;
}
main .container .mcont .mtable form .mm{
	width: 250px;
}
main .container .mcont .mtable form .yzm1{
	width: 100px;
	margin-right: 10px;
}
main .container .mcont .mtable form .yzm2{
	width: 60px;
	
}
main .container .mcont .mtable form .moren{
	font-size: 12px;
	margin-top: 40px;
}
main .container .mcont .mtable form .moren input{
	height: 12px;
}
main .container .mcont .mtable form a{
	color:blue;
}
main .container .mcont .mtable .wailink{
	font-size: 12px;
	margin-top: 20px;
}
main .container .mcont .mtable .wailink p{
	margin-bottom: 20px;
}
main .container .mcont .mtable .wailink a{
	display: inline-block;
	margin-left:15px;
	font-size: 24px;
	color: blue;
}


#logo{
	width: 100%;
	background-color: #fff;
}
#logo .container{
	padding-top: 30px;
	height: 110px;

}

#foot{
	width: 100%;
	background-color: #fff;
	margin-top: 50px;
}
#foot .container{
	height: 250px;
	padding-top: 50px
}
#foot .container .commonfoot{
	margin:0 auto;
	width: 320px;
	height: 20px;
}

#foot .container .commonfoot li{
	float: left;
	padding: 0 10px;
	border-left: 1px solid #ccc;
}
#foot .container .commonfoot .fli{
	border:0;
}
#foot .container .commonfoot li a{
	font-size: 12px;
	display: block;
	
}
#foot .container p{
	text-align: center;
	margin: 10px;
	font-size: 12px;
}
#foot .container a img{
	display: block;
	margin:10px auto;
}
#foot .container .plast img{
	display: inline;
}