@charset "utf-8";
/*reset*/
body,h1,h2,h3,h4,h5,h6,p,dl,dd,ul,ol,pre,form,input,textarea,th,td,select,figure,figcaption{margin: 0;padding: 0;}
em{font-style: normal;}
li{list-style: none;}
a{text-decoration:none;color:blue;}
img{border:none;vertical-align: baseline;display: block;}
table{border-collapse: collapse;}
textarea{resize: none;overflow: hidden;}

.wrap{
    width: 1120px;
    margin: 0 auto;
}
body{font-family: '微软雅黑';font-size: 14px;box-sizing: border-box}